@model Vehicle

<h1> Vehicle Details </h1>

Id: @Model.Id <br />
Year: @Model.Year <br />
Make: @Model.Make <br />
Model: @Model.Model <br />
Vin: @Model.Vin <br />
Color: @Model.Color <br />
User Id: @Model.UserId <br />

<a asp-controller="Vehicle" asp-action="Edit" class="btn btn-sm btn-warning"> Edit </a>
